* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar {
    background-color: #0D1B2A;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pages {
    display: flex;
    flex-direction: row;
}

.pages a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.pages li {
    list-style: none;
    padding: 20px;
}

@media(max-width: 437px) {
    .pages {
        display: none;
    }
}