* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fef6e4;
    color: white;
}

.navbar {
    background-color: #001858;
    color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pages {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pages li {
    list-style: none;
    padding: 20px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.pages a {
    text-decoration: none;
    list-style: none;
    color: #fef6e4;
    font-size: 1.2em;
}

.init {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 10%; */
    height: 500px;
    background-color: #f3d2c1;
    color: #001858;
}

.logo {
    position: relative;
    display: inline-block;
}

.container {
    position: fixed;
    display: flex;
    height: 100%;
    width: 250px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    
}

.container li {
    list-style: none;
    padding: 20px;
}

.container a {
    text-decoration: none;
    color: white;
}

.navbar i {
    display: none;
}



@media(max-width: 437px) {
    .pages {
        display: none;
    }
    
    .navbar i {
        display: flex;
    }
}